/* .pinned-image-container {
    width: 300px; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 1000px; 
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out; 
  }
  
  .pinned-image-container img {
    width: 100%;
    height: auto;
    transform-origin: center; 
    transition: transform 0.1s ease; 
  }
   */