.investment-approach {
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    /* Adjust as needed for spacing */
}

.puzzle-image {
    width: 300px;
    /* Adjust width as needed */
    clip-path: polygon(0% 20%,
            /* Top left inward */
            0% 60%,
            /* Left side */
            20% 60%,
            /* Bottom left inward */
            20% 100%,
            /* Bottom left */
            80% 100%,
            /* Bottom right */
            80% 60%,
            /* Bottom inward */
            100% 60%,
            /* Right side */
            100% 20%,
            /* Top right inward */
            40% 20%,
            /* Top inward */
            80% 0%,
            /* Top */
            20% 0%,
            /* Left top */
            20% 20%
            /* Top inward */
        );
}


.flex-container p {
    flex: 1;
    text-align: justify;
    line-height: 1.6;
}