.InvestmentLayer {
    position: absolute;
    height: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--mainGold);
    z-index: 5;
    overflow: hidden;
    transform: translateY(90%);
    transition: 0.5s;
}

.investmentImg:hover .InvestmentLayer {
    transform: translateY(0%);
    transition: 0.5s;

}