@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --mainGold: #C5A363;
    --lightGray: "#EDEDED"
}

::selection {
    background-color: rgba(197, 163, 99, .5);
}

@layer components {
  .heading-3 {
    @apply text-base sm:text-2xl md:text-3xl;
  }
  .paragraph {
    @apply  leading-relaxed text-sm sm:text-base md:text-lg 
  } 
}
 /* max-w-[600px] */
.marquee-wrapper {
  display: flex;
  width: fit-content;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.group:hover .marquee {
  animation-play-state: paused;
}

/* الحركة المستمرة */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 12px var(--mainGold);
  }
  50% {
    box-shadow: 0 0 34px var(--mainGold);
  }
}

.animate-glowPulse {
  animation: glowPulse 3s infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

@keyframes glowPulse {
  0%, 100% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.animate-glowPulse {
  animation: glowPulse 3s infinite ease-in-out;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.6; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.05); }
}

.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}


.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  width: calc(350px * 10);
  animation: scrollLeft 25s linear infinite;
}

/* ✅ وقف الأنيميشن وقت الـ hover */
.slider-wrapper:hover .slider-track {
  animation-play-state: paused;
}


@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.slide-card {
  position: relative;
  width: 320px;
  height: 320px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .7s ease;
}

.slide-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,.3);
  color: #fff;
  text-align: center;
  padding: 8px 0;
  backdrop-filter: blur(4px);
}

.slide-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  background: rgba(0,0,0,.8);
  color: #fff;
  padding: 20px;
  transition: opacity .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
